#root {
  height: 100%;
  overflow: hidden;
  margin: 0;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

#login-btn {
  position: absolute;
  bottom: 1rem;
  left: 25%;
}

* {
  margin: 0;
  padding: 0;
}

.snap-camera-container {
  width: 100%;
  height: 100%;

  canvas {
    width: 100%;
    height: 100%;
  }
}

.snap-logo {
  position: absolute;
  bottom: 2rem;
  right: 1rem;
  height: 1rem;
}

.loading {
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  color: black;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: start;
  padding-top: 2rem;
  justify-content: center;

  section {
    padding: 1rem;
    border-radius: 0.75rem;
    background-color: white;
    height: fit-content;
    max-width: 328px;

    ol {
      padding: 0;

      li {
        padding: 0.75rem;
        border: 1px solid #f1f1f1;
        margin-top: 1rem;
        border-radius: 0.625rem;
        display: flex;
        align-items: center;

        span {
          margin-right: 1rem;
        }

        img {
          height: 52px;
          margin-right: 1rem;
        }

        p {
          font-size: 0.8rem;
          line-height: 1.25rem;
          font-weight: 500;
          text-align: left;
        }
      }
    }

    p {
      font-weight: 400;
      font-size: 0.8rem;
      line-height: 22.26px;
      text-align: center;
    }

    h2 {
      font-weight: 600;
      line-height: 30.5px;
      font-size: 1.375rem;
      margin: 0;
      text-align: center;
    }

    article {
      margin-top: 1rem;
      padding: 0.5rem;
      font-size: 0.8rem;
      line-height: 22.26px;
      font-weight: 500;
      border: 1px solid #f1f1f1;
      border-radius: 0.625rem;
      text-align: center;
      display: flex;
      align-items: center;

      img {
        height: 52px;
        margin-right: 1rem;
      }
    }

    button {
      background-color: red;
      color: white;
      width: 100%;
      margin-top: 1rem;
      padding: 1rem;

      &:disabled {
        background-color: #f1f1f1;
        color: #b1b1b1;
      }
    }
  }
}
